.container {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-height: 520px;
  width: 450px;
  overflow-y: auto;
}

.wha {
  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
